.card-label__container {
  position: absolute;
  bottom: 90px;
  right: 0;
}

.card-label__content {
  height: 31px;
  width: 120px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131313;
  color: #d8d8d8;
  font-size: .9rem;
  font-weight: bold;
}