<div class="home__container">
  <app-card 
    gameCover="/assets/bt-4.jpg"
    gameLabel="Cross Buy"
    gameType="Full Game | PS4"
    gamePrice="R$ 299,90"
  >
  </app-card>
  <app-card 
    gameCover="/assets/bt-1.jpg"
    gameLabel="Exclusive"
    gameType="Full Game | PS4 | PS3 | PS Vita"
    gamePrice="R$ 359,80"
  >
  </app-card>
  <app-card 
    gameCover="/assets/bt-5.jpg"
    gameLabel="Exclusive"
    gameType="Digital | PS5"
    gamePrice="R$ 99,90"
  >
  </app-card>
  <app-card 
    gameCover="/assets/ac-cover.jpg"
    gameLabel="Exclusive"
    gameType="Digital | PS5 | PS4"
    gamePrice="R$ 458,87"
  >
  </app-card>
  <app-card 
    gameCover="/assets/bt-bad-company-2.jpg"
    gameLabel="New"
    gameType="Digital | PS5 | PS4 | PS Vita"
    gamePrice="R$ 98,97"
  >
  </app-card>
  <app-card 
    gameCover="/assets/bt-hardline.jpg"
    gameLabel="New"
    gameType="Full Game | PS5 | PS4 | PS Vita"
    gamePrice="R$ 198,97"
  >
  </app-card>
</div>