<div class="menu__container">
  <div class="menu__logo">
    <img src="assets/psn-logo.png" alt="logo" />
  </div>
  <div class="menu__item">
    <ul>
      <li><a class="menu__item__link" href="https://www.linkedin.com/in/rafael-santos-da-silva/" target="_blank">LinkedIn</a></li>
      <li><a class="menu__item__link" href="https://github.com/silvasantosrafael" target="_blank">Github</a></li>
      <li><a class="menu__item__link" href="mailto:rafael.silva318819@gmail.com">Email</a></li>
    </ul>
  </div>
</div>
